;;;;;;;;;;;;;;;;;;;
; KitazDao.config ;
;;;;;;;;;;;;;;;;;;;
;
; [DBSetting]
; dsn:PDO Connection String. Each Database has format.
; user:PDO Connection User Name.
; password:PDO Connection Password.
; 
; note DSN sample is not warranty.

[DBSetting]
; MySQL
;dsn="mysql:host=localhost;charset=utf8; dbname=testdb"
; SQLite2
;dsn="sqlite2:/sqlite/filepath/testdb.db"
; SQLite3
;dsn="sqlite:/sqlite/filepath/testdb.db"
; PostgreSQL
;dsn="pgsql:host=localhost; dbname=testdb"
; Oracle
;dsn="oci:dbname=//localhost/testdb"
; Sybase/MSSQL2000
;dsn="dblib:host=localhost; dbname=testdb"
; SQLServer 2008
;dsn="sqlsrv:Server=localhost,1521;Database=testdb"
; SQL Azure
;dsn="sqlsrv:Server=12345abcde.database.windows.net;Database=testdb"

;dsn="oci:dbname=//localhost/TESTDB"
;dsn="mysql:hostlocalhost;charset=utf8; dbname=testdb"
dsn="pgsql:dbname=testdb;host=dbpc;port=5432"
;dsn="sqlsrv:Server=localhost\Express;Database=testdb"
;dsn="sqlite:../sqlite/testdb.sqlite3"
user="testdb"
password="testdb"
option="PDO::ATTR_ORACLE_NULLS => PDO::NULL_NATURAL, PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION"